@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 650px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 651px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

$width-feature: 850px;

@mixin box-content {
  -webkit-box-shadow: inset 0px 0px 9px 0px rgba(163,163,163,1);
  -moz-box-shadow: inset 0px 0px 9px 0px rgba(163,163,163,1);
  box-shadow: inset 0px 0px 9px 0px rgba(163,163,163,1);
  background-color: white;
  border-radius: 8px;
}
