@import '_vars.scss';
.modal-lg{
  width: 750px;
  margin: auto;
}

.ti-sm{
  font-size: 18px;
}

.trix-toolbar{
  display: none;
}
html, body, #app, #surface {
  height: 100%;
}
#surface{
  display: flex;
  flex-direction: column;
  .nav-menu{
    flex: none;
    position: initial;
    padding: 0px 1rem;
    background-color: #FBF8F4;
  }
 
  #main-app{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    background-color: #F5EFE6;
    .wrap-full-content{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
}

.link-action{
  color: #8391a5;
  font-weight: bold;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: underline;
  &:hover{
    color: #7d7d7d;
  }
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
}
