//- page-a.pug
extends layouts/template.pug

block append scripts

block append styles
  link(type="text/css", href="css/login.css", rel='stylesheet')
block content
  div.ui-login.container.col-md-5
    div.inner-form.center-block
      h3.title Login form
      form(method="POST", action="/login", id="form-login")
        div.form-group
          label(for="username")
          input.form-control(type="text", placeholder="Username", name="username")
        div.form-group
          label(for="password")
          input.form-control(type="password", placeholder="Password", name="password")
        input(type="submit", value="submit", class="btn btn-default")

