html
  head
    title #{title}
    block css
      link(src='public/css/bootstrap.css')
    block scripts
      script(src='public/js/jquery.js')
      script(src='public/js/bootstrap.js')
  body
    block header
    block content
      div(class="container-fluid")
